.container, .container-fluid { 
    width: max-content; 
    margin: auto; 
}
ul {
    display: inline;
}
.col-md-12{
    max-height: 300px;
    overflow-y: hidden;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}
  
.btn-circle i {
    position: relative;
    top: -1px;
}  

.btn-circle-xl { 
    width: 80px; 
    height: 80px; 
    padding: 10px 16px; 
    border-radius: 50%; 
    line-height: 2.00;
    font-size: 12px; 
    text-align: center; 
}

/* .btn-rounded {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(108, 88, 179, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(108, 89, 179, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
} */
#reasonDropDown {
    width: 100%;
}