<div class="modal fade" id="addCategoryModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
				<h1>Add Category</h1>

				<form method="POST" id="addCategory" class="needs-validation" novalidate action="/addCategory">
					<div class="form-group row">
						<div class="col-sm-12">
							<input name="categoryName" class="form-control" placeholder="Category" required />
						</div>
					</div>
					<button id="submitBtn" class="btn badge-pill btn-outline-primary btn-sm float-right" type="submit">
						Add
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
