	{{!-- This modal is only used to manually input data(it is not recommended!) --}}
	<div class="modal fade" id="addOrderModal" >
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h1>Add Order</h1>

						<form method="POST" id="addOrder" class="needs-validation" novalidate action="/addOrder">
						
								<div class="col-sm-12">	
									<div class="form-group row">
									<input
										name="Address"
										class="form-control"
										placeholder="Address"
										required
									/>
									</div>
									<div class="form-group row">
										<input
										name="CreditC"
										class="form-control"
										placeholder="Credit Card Digit"
										required
									/></div>
									<div class="form-group row">
  										<select class="form-control" id="oStatus">
    									<option value="Placed">Placed</option>
    									<option value="Processed">Processed</option>
    									<option value="Shipped">Shipped</option>
    									<optio value="Complete"n>Complete</option>
  										</select>
									</div>
									<div class="form-group row">
										<input
										name="oTotal"
										class="form-control"
										placeholder="Total"
										required
									/>
									</div>
							</div>
								<button id="submitBtn" class="btn badge-pill btn-outline-primary btn-sm float-right" type="submit">
								Add
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

