	{{!-- This modal is only used to manually input data(it is not recommended!) --}}
	<div class="modal fade" id="addProductModal" >
			<div class="modal-dialog modal-xl modal-dialog-centered" style="width:48%">
				<div class="modal-content">
					<div class="modal-body row">
						

			{{!-- DropzoneJS --}}	<div class="col-md-5">
				
<form id="upload-widget" method="post" action="/dashboard/upload" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" />
          </div>
        </form>
		

      </div> {{!-- DropzoneJS --}}
	  <div class="col-md-7">
	  	<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h1>Add Product</h1>

						<form id="addProduct" class="needs-validation" novalidate action="/addProduct">
						
								<div class="form-group row">
									<div class="col-sm-12">	
									
										<label for="productName">Product Name</label>
									<input
										name="productName"
										class="form-control"
										placeholder="Masks"
										required
									/>
									</div>
									
									<div class="form-group row pl-3 pt-2 pr-3">		
										<div class="col-sm-3">
										<label for="productSKU">SKU</label>
										<input
										type="number"
										min="1"
										name="productSKU"
										id="productSKU"
										class="form-control"
										placeholder= "0000"
										required
									/></div>
										<div class="col-sm-3">
										<label for="productInventory">Qty</label>
										<input
										type="number"
										min="0"
										name="productInventory"
										class="form-control"
										placeholder= "0"
										required
									/>
									</div>
									<div class="col-sm-6">
										<label for="productPrice">Price</label>
										<input
										min= "0"
										name="productPrice"
										class="form-control"
										placeholder= "0.00"
										required
									/>
									</div>
									</div>
		
										<div class="col-sm-12">
											<label for="productDesc">Description</label>

										<textarea name="productDesc" class="form-control" style="resize:none" maxlength="256" id="descriptionTextArea" rows="3"></textarea>
											</div>
										
							</div>
								<button id="submitBtn" class="btn badge-pill btn-outline-primary btn-sm float-right" type="submit">
								Add
							</button>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script type="text/javascript">
      Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 8, // MB
        maxFiles: 4,
        dictDefaultMessage: '<i class="fas fa-plus fa-7x"></i>',
		addRemoveLinks:true,
        headers: {
          'x-csrf-token': document.querySelector('meta[name=csrf-token]').getAttributeNode('content').value,
        },
        acceptedFiles: 'image/*',

        init: function() {
          this.on('success', function(file, resp){
            console.log(file);
            console.log(resp);
          });

          this.on('thumbnail', function(file) {
            if (file.accepted !== false) {
              if (file.width < 640 || file.height < 480) {
                file.rejectDimensions();
              } else {
                file.acceptDimensions();
              }
            }
          });
		this.on("complete", function(file) {
                $(".dz-remove").html("<div class='pt-1'><button class='btn badge-pill btn-outline-primary btn-sm'>Remove</button></div>");
            });
        },
        accept: function(file, done) {
          file.acceptDimensions = done;
          file.rejectDimensions = function() {
            done('The image must be at least 640 x 480px');
          };
        }
      };
    </script>

