<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="avatarModal">
	<div class="modal-dialog cascading-modal modal-avatar modal-sm">
		<!--Content-->

		<div class="modal-content">
			<div class="modal-title text-center">
				<h3 class="mb-0 mt-1"><b>Change Profile Picture</b></h3>
			</div>
			<hr>
			<!--Header-->
			<div class="modal-header">
					{{#if userDetails.avatarExists}}
					<img src="/siteData/{{userDetails._id}}/img/avatar/avatar.png" id="avatar" alt="logo" style="width:200px;height:200px" class="rounded-circle mx-auto">
					{{else}}
					<img src='/img/default_profile.jpg' alt="logo" style="width:200px;height:200px" class="rounded-circle mx-auto">				
					{{/if}}
				
			</div>
			<!--Body-->
			<div class="modal-body text-center mb-1">
				<form action="/uploadAvatar" enctype="multipart/form-data" method="POST">

					<input type="file" accept=".gif, .jpg, .png, .jpeg" name="avatarImg" id="displayPic" class="form-control"  onchange="loadPreview(event)">
								<script>
  				var loadPreview = function(event) {
    				var output = document.getElementById('avatar');
					output.src = URL.createObjectURL(event.target.files[0]);
										};
						</script>
					<div class="text-center mt-4">
						<button type="submit" class="btn btn-primary">Change Avatar</i></button>
					</div>

				</form>



			</div>

		</div>
		<!--/.Content-->
	</div>
</div>