<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="avatarModal">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm">
    <!--Content-->
    
    <div class="modal-content">
        <div class="modal-title text-center">
            <h3 class="mb-0 mt-1"><b>Change Profile Picture</b></h3>
            </div>
            <hr>
      <!--Header-->
      <div class="modal-header">  
           <img src="siteData/{{userDetails._id}}/img/avatar/avatar" alt="avatar" style="width:200px;height:200px" class="rounded-circle mx-auto">

      </div>
      <!--Body-->
      <div class="modal-body text-center mb-1">
          <form action="/uploadAvatar" enctype="multipart/form-data" method="POST">
         
          <input type="file"  name="avatarImg" id="displayPic" class="form-control">
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Change Avatar<i class="fas fa-sign-in"></i></button>
        </div>
        
        </form>



      </div>

    </div>
    <!--/.Content-->
  </div>
</div>