			<div class="modal fade mt-5" show="true" tabindex="-1" role="dialog" id="cancelOrderModal">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<!-- Modal Header -->
						<h4 class="modal-title ml-2">
							<strong>Are you sure<br />you'd like to cancel?</strong>
						</h4>
						<!-- <div class="modal-header">
                            </div>-->
						<div class="modal-body"><br /><br /></div>
						<div class="panel-body mb-2 mr-2">
							<div class="pull-right">
								<button type="button" class="btn btn-outline-danger badge-pill mr-1"
									data-dismiss="modal">
									No
								</button>
								<button type="button" class="btn btn-outline-primary badge-pill" action="/deleteProduct">
									Yes
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>