<div class="modal fade" id="pricingModalCenter">
	<div class="modal-lg modal-dialog modal-dialog-centered">
		<div class="modal-content">
				<div class="container" style="">
					<div class="row justify-content-center m-2">
						<h1>Packages</h1>
					</div>
					<div class="row justify-content-center card-deck">
						<div class=" col-xs-6 card mb-3">
							<div class="card-primary">
								<div class="card-heading ">
									<h3 class="card-title">
										Basic<br/>
										<h1 class="text-center">FREE</h1>
									</h3>
								</div>
								<div class="card-body">
								
									<table class="table">
										<tr>
											<td>
												Hosting
											</td>
										</tr>
										<tr class="active">
											<td>
												100 MB Storage
											</td>
										</tr>
										<tr class="active">
											<td>
												Weekly Reports
											</td>
										</tr>
										<tr class="active">
											<td>
												3 months Support
											</td>
										</tr>
									</table>
								</div>

								<div class="card-footer text-center">
									<a href="*" class="btn badge-pill btn-primary">Sign Up Now!</a>
								</div>
							</div>
						</div>

						<div class="col-xs-6 card mb-3">
							<div class="card-primary">
								<div class="card-heading">
									<h3 class="card-title">
										<i style="color:gold" class="fas fa-star"></i>
										Premium
									</h3>
								</div>
								<div class="card-body">
									<div class="the-price">
										<h1 class="text-center">$20<span class="subscript">/mo</span></h1>
									</div>
									<table class="table">
										<tr>
											<td>
												Hosting
											</td>
										</tr>
										<tr class="active">
											<td>
												1 GB Storage
											</td>
										</tr>
										<tr class="active">
											<td>
												Weekly Reports
											</td>
										</tr>
										<tr class="active">
											<td>
												24/7 Support
											</td>
										</tr>
									</table>
								</div>
								<div class="card-footer text-center">
									<a href="*" class="btn badge-pill btn-primary">Sign Up Now!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
