<div class="modal fade" id="pricingModalCenter">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
				<div class="container-fluid" style="padding-left:75px;">
					<div class="row">
						<div class="col-xs-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Basic
									</h3>
								</div>
								<div class="panel-body">
									<div class="the-price">
										<h1>FREE</h1>
									</div>
									<table class="table">
										<tr>
											<td>
												Hosting
											</td>
										</tr>
										<tr class="active">
											<td>
												100 MB Storage
											</td>
										</tr>
										<tr class="active">
											<td>
												Weekly Reports
											</td>
										</tr>
										<tr class="active">
											<td>
												3 months Support
											</td>
										</tr>
									</table>
								</div>
								<div class="panel-footer">
									<a href="http://www.jquery2dotnet.com" class="btn badge-pill btn-primary ml-2 ">Sign Up NOW!</a>
								</div>
							</div>
						</div>

						<div class="col-xs-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">
										Premium
									</h3>
								</div>
								<div class="panel-body">
									<div class="the-price">
										<h1>$20<span class="subscript">/mo</span></h1>
									</div>
									<table class="table">
										<tr>
											<td>
												Hosting
											</td>
										</tr>
										<tr class="active">
											<td>
												1 GB Storage
											</td>
										</tr>
										<tr class="active">
											<td>
												Weekly Reports
											</td>
										</tr>
										<tr class="active">
											<td>
												24/7 Support
											</td>
										</tr>
									</table>
								</div>
								<div class="panel-footer">
									<a href="http://www.jquery2dotnet.com" class="btn badge-pill btn-primary ml-2">Sign Up NOW</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
