			<div class="modal fade" id="productDetail">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">

							<button type="button" class="close" data-dismiss="modal">
								&times;
							</button>
						</div>

						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="text-left mb-4">
											<h3>
												<strong id="title"></strong>
											</h3>
											<header>SKU:<strong id="skuDetail"></strong></header>
				
										</div>
										<strong>Description</strong>
		<div><p>some sour and pointy fruit that has nice hair too!</p></div>
									<div class="row">

										<ul class="list-group col-md-6">
  <li class="list-group-item">Quantity in Stock: <span id="qtyDetail"></span></li>
  <li class="list-group-item">Price per Unit: <span id="priceDetail"></span></li>
  <li class="list-group-item">Total Sold: <span id="soldDetail"></span></li>
 
</ul>
									</div>

										<div class="text-right panel-body mt-5">
											<button type="button" class="btn btn-danger badge-pill btn-circle-xl m-1"
												data-toggle="modal" data-target="#cancelOrderModal">
												<i class="fa fa-trash"></i>
											</button>
											<button class="btn btn-primary badge-pill btn-circle-xl m-1">
												<i class="fa fa-check"></i>
											</button>
										</div>
									</div>
								</div>
								<!--row-->
							</div>
							<!--container-->
						</div>
						<div class="panel-body mb-2 mr-2">
					
						</div>
					</div>
				</div>
			</div>