<!DOCTYPE html>
<html lang="en">

<head>
	{{{header}}}
</head>

<body>

	<div class="dashboardGrid">
		<div class="sidebar bg-light">
			<div class="sidebarImg mt-5 rounded-circle bg-primary">
			</div>
			<div class="sidebarMenu">
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center active">Overview</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center">Orders</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center">Products</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center">Categories</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center">Customize</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center">Report</div>
			</div>
			<div class="sidebarFooter mb-5">
				<a href="/logout">logout</a>
			</div>

		</div>

		<div class="dynamic">
			{{{body}}}
		</div>
	</div>



</body>

</html>