<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>eEzCommerce | the simple way to sell</title>

		<!-- scripts -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

		<!-- sheets -->
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	</head>

	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="images/eezCommerceLogo.jpg"/></a>
		</nav>
		<div class="container">

			<form >
				<h2 class="text-center font-weight-bold">Forgot?</h2>
				<p class="text-center font-weight-bold">
					If you've forgotten your password, enter your email below to have a reset link sent to it.</p> 
					<p class="text-center font-weight-bold">
						Then, click that link to reset your password.
				</p>
				<div class="form-group mr-auto">
					<input type="email" class="form-control" id="ForgotEmail" aria-describedby="emailHelp" placeholder="Enter Email">
				  </div>
				  <button class="btn badge-pill btn-outline-success btn-sm align-right">Send</button>
		</form >
		</div>
	</body>
</html>
