<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>eEzCommerce | Social Media</title>

		<!-- scripts -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

		<!-- sheets -->
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	</head>

	<body >
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#"><img width="50px" src="../img/logo.svg"/></a></a>
		</nav>
		<div class="container">
                <h1>Link to your social media</h1>
                <br/>
            <form>
                <div class="form-group row">
                    <img width="50px" src="../img/Facebook.jpg"/>
                    <div class="col-sm-10">
                      <input type="text" class="form-control form-control-lg" id="Facebook" maxlength="50">
                    </div>
                  </div>                
                  <div class="form-group row">
                    <img width="50px" src="../img/Twitter.jpg"/>
                    <div class="col-sm-10">
                      <input type="text" class="form-control form-control-lg" id="Twitter" maxlength=15>
                    </div>
                  </div>                
                  <div class="form-group row">
                    <img width="50px" src="../img/Instagarm.jpg"/>
                    <div class="col-sm-10">
                      <input type="text" class="form-control form-control-lg" id="Instagarm" maxlength=30>
                    </div>
                  </div>
                <div class="form-group row">
                    <img width="50px" src="../img/Pinterest.jpg"/>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="Pinterest" maxlength="30">
                  </div>
                </div>
                <span style="padding-left: 20px;"><button class="btn badge-pill btn-outline-success btn-sm align-right">Update</button></span>
              </form>
		</div>
	</body>
</html>
