<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>eEzCommerce | the simple way to sell</title>

		<!-- scripts -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		

		<!-- sheets -->
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/John.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	</head>




	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="images/eezCommerceLogo.jpg"></a>
		</nav>
		<div class="container">
            <div class="manage-profile">
                <h1>Manage Profile</h1>
                <h3>Change Business Profile</h3>
                <label>Instagram</label> <input type="text" id="Instagram" placeholder="Instagram"/> <br/> <!--get business name and add here-->
                <label>Facebook</label> <input type="text" id="facebook" placeholder="facebook"/> <br/> <!--get business name and add here-->
                <label>Twitter</label> <input type="text" id="twitter" placeholder="twitter"/> <br/> <!--get business cate and add here-->
                <label>Pinterest</label> <input type="text" id="Pinterest" placeholder="Pinterest"/> <br/> <!--get business cate and add here-->
                <button class="badge-pill">update</button>
            </div>
		</div>
	</body>
</html>
