<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<!--fixes the icons-->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="/js/TestimonialFilter.js"></script>

		<title>eEz Commerce - Testimonial</title>
	</head>

	<body>
		<!-- nav bar-->

		<div class="container">
			<div class="row">
				<div class="pb-2 mt-4 mb-2 col-md-4">
					<!--header-->
					<h1><strong>Testimonial</strong></h1>
				</div>
				<br />
			</div>
			<!-- <input class="form-control" id="testimonialFilter" type="text" placeholder="Search.."> -->
			<!--<div id="filterBtnContainer">
				<button class="btn btn-light active" onclick="filterSelection('all')">Show all</button>
				<button class="btn btn-light" onclick="filterSelection('food')">Food</button>
				<button class="btn btn-light" onclick="filterSelection('tech')">Technology</button>
				<button class="btn btn-light" onclick="filterSelection('appliance')">Appliance</button>
				<button class="btn btn-light" onclick="filterSelection('beauty')">Beauty</button>
				<button class="btn btn-light" onclick="filterSelection('activity')">Activity</button>
			</div>-->
			<div class="testimonialImages">
				<div class="row pt-3">
					<!--well-image gallery-->
					<div class="col-md-4">
						<div class="thumbnail border rounded food appliance">
							<a href="https://ratiocoffee.com/" title=""
								><img src="/img/testimonial-coffee.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Kitchenware</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail border rounded beauty">
							<a href="https://www.blackbutterflyclothing.com/" title=""
								><img src="/img/testimonial-fashion.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Fashion</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail border rounded food">
							<a href="https://dibruno.com/" title=""
								><img src="/img/testimonial-food.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Food</div>
							</a>
						</div>
					</div>
				</div>
				<div class="row pt-2">
					<!--row2-->
					<div class="col-md-4">
						<div class="thumbnail border rounded appliance">
							<a href="https://shopboxhill.com/" title=""
								><img src="/img/testimonial-furniture.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Furniture</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail border rounded beauty">
							<a href="https://www.100percentpure.com/" title=""
								><img src="/img/testimonial-makeup.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Make Up</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail border rounded activity">
							<a href="https://www.mollyjogger.com/" title=""
								><img src="/img/testimonial-outdoor.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Recreation</div>
							</a>
						</div>
					</div>
				</div>
				<div class="row pt-2">
					<!--row3-->
					<div class="col-md-4">
						<div class="thumbnail border rounded activity">
							<a href="https://www.physiqapparel.com/" title=""
								><img src="/img/testimonial-sports.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Sports</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail border rounded">
							<a href="https://www.poketo.com/" title=""
								><img src="/img/testimonial-stationery.png" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Stationery</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail border rounded appliance">
							<a href="https://www.renogy.com/" title=""
								><img src="/img/testimonial-tech.jpg" style="width: 100%;" class="img-responsive" />
								<div class="caption text-center">Technology</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--container-->

		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<script src="html/index.js"></script>
	</body>
</html>
