<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eEz Commerce</title>


    	<!-- scripts -->
	<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- sheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Update Your Email Information
			</h3>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<form>
                        <div class="form-group row">
                          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="eezCommerce@eezCommerce.com">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputEmail" class="col-sm-2 col-form-label">New Email</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputPassword" placeholder="New Email">
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="confirmEmail" class="col-sm-2 col-form-label">Confirm Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="confirmEmail" placeholder="Confirm">
                            </div>
                          </div>

                          <button type="submit" class="btn btn-primary mb-2">Submit</button>
                      </form>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>


  </body>
</html>