<div class="container">
	<div class="row">
		<div class="pb-2 mt-4 mb-2 col-md-4">
			<!--header-->
			<h1><strong>Categories</strong></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<button class="btn badge-pill btn-outline-primary btn-sm" data-toggle="modal"
				data-target="#addCategoryModal">
				Add Category
			</button>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="table" id="order-data">
				<table class="table table-striped table-hover">
					<div class="table responsive">
						<thead>
							<tr>
								<th>Category Name</th>
								<th># Products</th>
							</tr>
						</thead>
						<tbody>
									{{#each categories}}
								<tr data-toggle="modal" data-target="#orderModal"></tr>
								<td>{{name}}</td>
								<td>{{count}}</td>
								</tr>
									{{/each}}
							
						</tbody>
					</div>
				</table>
			</div>
			</table>
		</div>
		<!--table-->
	</div>
</div>
<!--row-->
</div>