<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <form action="/resetPassword/change" class="needs-validation w-100" novalidate>
            <h1>Change your password.</h1>
                <label for="newPassword" class="mt-2">New Password:</label>
                <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="newPassword"
                    class="confirmablePassword checkPatternWhenTyping form-control mb-2" type="password"
                    autocomplete="new-password" required>
                <div class="invalid-feedback mb-4">
                    Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more
                    characters
                </div>

                <label for="newConfirmPassword">Confirm New Password:</label>
                <input name="newConfirmPassword"
                    class="form-control confirmablePasswordDestination checkPatternWhenTyping mb-2" type="password"
                    autocomplete="new-password" required>
                <div class="invalid-feedback mb-2">
                    Passwords must match
                </div>

                <input type="hidden" name="token" value="{{token}}">
                <input type="hidden" name="email" value="{{email}}">
                <span class="text-danger server-response"></span>

                <button class="btn btn-primary rounded-pill float-right mt-5 mb-2" type="submit">
                    Change Password
                </button>
            </form>
        </div>

    </div>
</div>