<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="row mt-4 mx-0 justify-content-center">
				<div class="text-center">
					<h1>Customize</h1>
				</div>
			</div>
			<div class="row mx-0 text-center">
				<form action="/customize" novalidate class="needs-validation mt-3 w-100">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="primaryColor">Primary Color:</label>

							<input required value="#{{customizations.primaryColor}}" class="form-control jscolor text-center"
								name="primaryColor">
						</div>
						<div class="form-group col-md-6">
							<label for="secondaryColor">Secondary Color:</label>

							<input required value="#{{customizations.secondaryColor}}" class="form-control jscolor text-center"
								name="secondaryColor">
						</div>
					</div>

					<div class="server-response"></div>

					<button class="btn btn-primary rounded-pill float-right mt-5" type="submit">
						Save Customization
					</button>

				</form>

			</div>
		</div>

		<div class="col-md-6 mx-0">
			<iframe class="livePreview" src="/sites/{{userDetails._id}}"></iframe>
		</div>
	</div>
</div>