<div id="errorBlock" class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12 text-center">
			<span class="display-3 d-block">An Email has been sent to reset your password.</span>
			<div class="mb-4 lead">
				<strong>Please check your email for a password reset link. Be sure to check your Junk mail.</strong>
			</div>
			<div>Didn't receive an email?<a href="#"> Resend Verification</a></div>
			<a href="/" class="btn btn-link">Return Home</a>
		</div>
	</div>
</div>
