<div id="errorBlock" class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12 text-center">
			<span class="display-3 d-block">Your Email has been Verified</span>
			<div class="mb-4 lead">
				<strong>Login to get started! </strong>
			</div>
			<div>Redirecting you to the home page...</div>
		</div>
	</div>
</div>
<script>
	setTimeout(() => {
		window.location = "/";
	}, 3000);
</script>
