<div id="errorBlock" class="container mt-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12 text-center">
			<span class="display-3 d-block">Thank you for Registering!</span>
			<div class="mb-4 lead">
				<strong
					>An Email has been sent. Please check your email in a few minutes for a verification link. <br />This may take
					several minutes. Be sure to check your Junk Mail</strong
				>
			</div>
			<div>Didn't receive an email?<a href="#"> Resend Verification</a></div>
			<a href="/" class="btn btn-link">Return Home</a>
		</div>
	</div>
</div>
