<div id="errorBlock" class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12 text-center">
			<span id="errorTitle" class="display-1 d-block">Uh Oh!</span>
			<div class="mb-4 lead"><b>404 </b>This file or directory could not be found. We're working on it.</div>
			<a href="/" class="btn btn-link">Return Home</a>
		</div>
	</div>
</div>
