<div id="errorBlock" class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-6 text-center">
			<span class="display-3">Forgot?</span>
			<p>You can reset your password here.</p>
			<div class="col-xs-6 panel-body">
				<form
					id="resetPassword"
					role="form"
					autocomplete="off"
					class="needs-validation"
					method="post"
					action="/resetPassword"
				>
					<div class="form-group">
						<div class="input-group">
							<input
								id="emailReset"
								name="email"
								placeholder="Enter your email address"
								class="form-control"
								type="email"
								required
							/>
						</div>
						<div class="form-group text-center text-danger d-none server-response">
							User not found in our database.
						</div>
					</div>
					<div class="form-group">
						<input
							name="recover-submit"
							class="btn btn-lg btn-primary btn-block"
							value="Reset Password"
							type="submit"
						/>
					</div>

					<input type="hidden" class="hide" name="token" id="token" value="" />
				</form>
			</div>
		</div>
	</div>
</div>
