<div class="container-fullwidth">
	<div class="row homepageFullpage">
		<div class="col land-splash pr-0 pl-0 text-center d-flex justify-content-center align-items-center">
			<div class="d-flex flex-column text-left text-white p-5">
				<h1>Create an online storefront</h1>
				<h1>in minutes.</h1>
				<div class="d-flex flex-row-reverse">
					<div
						class="btn text-primary badge-pill btn-light btn-lg mt-2"
						data-toggle="modal"
						data-target="#signupModalCenter"
					>
						Get Started
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="row homepageFullpage bg-secondary text-primary d-flex flex-column-reverse flex-md-row justify-content-center align-items-center"
	>
		<div class="col-md-5 mt-lg-0 mt-5 p-5 text-primary">
			<div class="col-md-12">
				<h1>The simple way to sell</h1>
				<p>
					With a few quick questions you'll have an online presence for your business in no time at all. Plus, we'll
					guide you through it and be with you every step of the way.
				</p>
			</div>
		</div>
		<div class="col-md-5 text-center">
			<i class="far fa-clock bigIcon text-secondary text-neumorph-strong text-neumorph-strong-shift"></i>
		</div>
	</div>
	<div
		class="row homepageFullpage bg-primary text-white d-flex flex-column flex-md-row justify-content-center align-items-center"
	>
		<div class="col-md-5 text-center mt-lg-0 mt-5">
			<i class="fas fa-money-bill-alt bigIcon text-primary text-neumorph text-neumorph-shift"></i>
		</div>
		<div class="col-md-5 mt-lg-0 mt-5 p-5 ">
			<div class="col-md-12">
				<h1>Generate new revenue streams</h1>
				<p>
					Whether you're an independent artist or an established physical store, we can help you generate new revenue
					streams allowing you to grow
				</p>
			</div>
		</div>
	</div>
	<div
		class="row homepageFullpage bg-secondary text-primary d-flex flex-column-reverse flex-md-row justify-content-center align-items-center"
	>
		<div class="col-md-5 mt-lg-0 mt-5 p-5 ">
			<div class="col-md-12">
				<h1>Keep growing, and growing, and growing...</h1>
				<p>
					Our platform scales with your business, meaning that we won't hold you back. Our low fee plans mean that you
					can focus on keeping up with sales instead of making sure your platform does.
				</p>
			</div>
		</div>
		<div class="col-md-5 text-center mt-5 mt-md-0">
			<i class="fas fa-expand-arrows-alt bigIcon text-secondary text-neumorph-strong text-neumorph-strong-shift"></i>
		</div>
	</div>
	<div id="footer" class="row bg-light m-0 h-25 d-flex flex-column align-items-center justify-content-center">
		<ul class="list-group list-group-horizontal">
			<li class="list-group-item"><a href="/">Home</a></li>
			<li class="list-group-item"><a href="#" data-toggle="modal" data-target="#pricingModalCenter">Pricing</a></li>
			<li class="list-group-item"><a href="emailto:prj666_201a07@myseneca.ca">Contact</a></li>
			<li class="list-group-item"><a id="terms" href="#" data-toggle="modal" data-target="#TermsConditionsModal">Terms of Service</a></li>
		</ul>
		<p class="mt-3">&copy; 2020 eEz Commerce</p>
	</div>
</div>

