<div id="errorBlock" class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12 text-center">
			<h1>You've been logged out.</h1>
			<h5>Please wait while you are redirected.</h5>
		</div>
	</div>
</div>
<script>
	setTimeout(() => {
		window.location = "/";
	}, 2000);
</script>
