<div class="container-fluid">
	<div class="row">
		<div class="col-12 mt-4 mb-5">
			<h1>Overview</h1>
		</div>
	</div>
	<div class="row text-primary mt-5">
		<div class="col-sm-4 d-flex mt-2 justify-content-center align-items-center">
			<div
				class="overview-circles rounded-circle d-flex justify-content-center align-items-center border border-primary border-1"
			>
				<span>100 orders</span>
			</div>
		</div>
		<div class="col-sm-4 d-flex mt-2 justify-content-center align-items-center">
			<div
				class="overview-circles rounded-circle d-flex justify-content-center align-items-center border border-primary border-1"
			>
				<span>200 visits</span>
			</div>
		</div>
		<div class="col-sm-4 d-flex mt-2 justify-content-center align-items-center">
			<div
				class="overview-circles rounded-circle d-flex justify-content-center align-items-center border border-primary border-1"
			>
				<span>300 messages</span>
			</div>
		</div>
	</div>
</div>
