<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-5">
            <h1>Overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a target="_blank" href="/sites/{{userDetails._id}}">
                <button class="btn  btn-primary">View Site</button>
            </a>
        </div>
    </div>
    <div class="row text-primary mt-1">
        <div class="col-sm-4 d-flex mt-2 justify-content-center align-items-center">
            <div
                class="overview-circles rounded-circle d-flex justify-content-center align-items-center border border-primary border-1">
                <span>100 orders</span>
            </div>
        </div>
        <div class="col-sm-4 d-flex mt-2 justify-content-center align-items-center">
            <div
                class="overview-circles rounded-circle d-flex justify-content-center align-items-center border border-primary border-1">
                <span>200 visits</span>
            </div>
        </div>
        <div class="col-sm-4 d-flex mt-2 justify-content-center align-items-center">
            <div
                class="overview-circles rounded-circle d-flex justify-content-center align-items-center border border-primary border-1">
                <span>300 messages</span>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="row mt-5">
        <div class="col-12 mt-4 mb-5">
            <h1>Recent Orders</h1>
        </div>

        <div class="col-sm-5">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Order #</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>555</td>
                    <td>2020/10/12</td>
                    <td>Shipped</td>
                </tr>

            </table>
        </div>




    </div>
</div>