
	<!-- <input class="form-control" id="testimonialFilter" type="text" placeholder="Search.."> -->
	<!--<div id="filterBtnContainer">
				<button class="btn btn-light active" onclick="filterSelection('all')">Show all</button>
				<button class="btn btn-light" onclick="filterSelection('food')">Food</button>
				<button class="btn btn-light" onclick="filterSelection('tech')">Technology</button>
				<button class="btn btn-light" onclick="filterSelection('appliance')">Appliance</button>
				<button class="btn btn-light" onclick="filterSelection('beauty')">Beauty</button>
				<button class="btn btn-light" onclick="filterSelection('activity')">Activity</button>
			</div>-->


<div class="container-fluid bg-secondary">
  <div class="row pt-5 mt-5" style="padding:15px">
	  
    <a href="/img/testimonial-coffee.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover" >
      <img src="/img/testimonial-coffee.png" class="img-fluid rounded">
    </a>
	
    <a href="/img/testimonial-fashion.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-fashion.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-food.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-food.png" class="img-fluid rounded">
    </a>
  </div>
  <div class="row" style="padding:15px">
    <a href="/img/testimonial-furniture.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-furniture.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-makeup.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-makeup.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-outdoor.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-outdoor.png" class="img-fluid rounded">
    </a>
  </div>
  <div class="row" style="padding:15px">
    <a href="/img/testimonial-sports.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-sports.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-stationery.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-stationery.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-tech.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-tech.jpg" class="img-fluid rounded">
    </a>
  </div>

  <div class="row" style="padding:15px">
	  
    <a href="/img/testimonial-coffee.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover" >
      <img src="/img/testimonial-coffee.png" class="img-fluid rounded">
    </a>
	
    <a href="/img/testimonial-fashion.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-fashion.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-food.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-food.png" class="img-fluid rounded">
    </a>
  </div>

    <div class="row" style="padding:15px">
    <a href="/img/testimonial-sports.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-sports.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-stationery.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-stationery.png" class="img-fluid rounded">
    </a>
    <a href="/img/testimonial-tech.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 hover">
      <img src="/img/testimonial-tech.jpg" class="img-fluid rounded">
    </a>
  </div>
</div>

	<div id="footer" class="row bg-light m-0 h-25 d-flex flex-column align-items-center justify-content-center">
		<ul class="list-group list-group-horizontal">
			<li class="list-group-item"><a href="/">Home</a></li>
			<li class="list-group-item"><a href="/pricing">Pricing</a></li>
			<li class="list-group-item"><a href="/contact">Contact</a></li>
			<li class="list-group-item"><a href="/terms">Terms of Service</a></li>
		</ul>
		<p class="mt-3">&copy; 2020 eEz Commerce</p>
	</div>
