<div class="container mt-5">
	<div class="row">
		<div class="pb-2 mt-5 mb-2 col-md-4">
			<!--header-->
			<h1><strong>Testimonial</strong></h1>
		</div>
		<br />
	</div>
	<!-- <input class="form-control" id="testimonialFilter" type="text" placeholder="Search.."> -->
	<!--<div id="filterBtnContainer">
				<button class="btn btn-light active" onclick="filterSelection('all')">Show all</button>
				<button class="btn btn-light" onclick="filterSelection('food')">Food</button>
				<button class="btn btn-light" onclick="filterSelection('tech')">Technology</button>
				<button class="btn btn-light" onclick="filterSelection('appliance')">Appliance</button>
				<button class="btn btn-light" onclick="filterSelection('beauty')">Beauty</button>
				<button class="btn btn-light" onclick="filterSelection('activity')">Activity</button>
			</div>-->
	<div class="testimonialImages">
		<div class="row pt-3">
			<!--well-image gallery-->
			<div class="col-md-4">
				<div class="thumbnail border rounded food appliance">
					<a href="https://ratiocoffee.com/" title=""
						><img src="/img/testimonial-coffee.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Kitchenware</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail border rounded beauty">
					<a href="https://www.blackbutterflyclothing.com/" title=""
						><img src="/img/testimonial-fashion.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Fashion</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail border rounded food">
					<a href="https://dibruno.com/" title=""
						><img src="/img/testimonial-food.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Food</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row pt-2">
			<!--row2-->
			<div class="col-md-4">
				<div class="thumbnail border rounded appliance">
					<a href="https://shopboxhill.com/" title=""
						><img src="/img/testimonial-furniture.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Furniture</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail border rounded beauty">
					<a href="https://www.100percentpure.com/" title=""
						><img src="/img/testimonial-makeup.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Make Up</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail border rounded activity">
					<a href="https://www.mollyjogger.com/" title=""
						><img src="/img/testimonial-outdoor.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Recreation</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row pt-2">
			<!--row3-->
			<div class="col-md-4">
				<div class="thumbnail border rounded activity">
					<a href="https://www.physiqapparel.com/" title=""
						><img src="/img/testimonial-sports.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Sports</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail border rounded">
					<a href="https://www.poketo.com/" title=""
						><img src="/img/testimonial-stationery.png" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Stationery</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail border rounded appliance">
					<a href="https://www.renogy.com/" title=""
						><img src="/img/testimonial-tech.jpg" style="width: 100%;" class="img-responsive" />
						<div class="caption text-center">Technology</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
