<!DOCTYPE html>
<html lang="en">

<head>
	{{>header}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.js"></script>
	<title>Document</title>
</head>

<body>
	<div class="container" style="height: 100vh">
		<div class="row h-100">
			<div class="col-12 h-100 d-flex justify-content-center align-items-center">
				
			</div>
		</div>
	</div>


	<script>
		$(() => {
			gsap.to(".bg-danger", {
				duration: .5
			})
		})

	</script>
</body>

</html>