/* CSS DOCUMENT */

* {
	margin: 0px;
	padding: 0px;
}

/*

		Homepage


*/

.container-fullwidth {
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
}

:root {
	--bg: #fefefe;
	--accent: #519e8a;
	font-family: Montserrat, Arial, Helvetica, sans-serif !important;
}

.homepageFullpage {
	margin: 0px;
	min-height: 100vh;
}

.container-fullwidth .row {
	scroll-margin: 20px;
	scroll-snap-align: start;
}

.bigIcon {
	font-size: 25vw;
}

h1 {
	font-weight: 1000;
}

#errorTitle {
	color: red;
	font-family: Montserrat;
	font-weight: bold;
}
#errorBlock {
	padding-top: 15%;
	height: 100%;
}

/* Required to make pricing/testimonial modal non-grey */
.modal-backdrop {
	z-index: 1020 !important;
}

.land-splash {
	background-image: url("../img/bg-glyph.png");
	background-size: 300px;
	background-repeat: repeat;
	background-position-x: -50px;
}

.text-neumorph-strong {
	text-shadow: -15px -15px 30px rgba(255, 255, 255, 0.4), 15px 15px 30px rgba(0, 0, 0, 0.05),
		-5px -5px 10px rgba(255, 255, 255, 0.6), 5px 5px 10px rgba(0, 0, 0, 0.05);
	transition: text-shadow 0.5s ease-in-out;
}

.text-neumorph-strong:hover {
	text-shadow: 15px 15px 30px rgba(255, 255, 255, 0.4), -15px -15px 30px rgba(0, 0, 0, 0.05),
		5px 5px 10px rgba(255, 255, 255, 0.6), -5px -5px 10px rgba(0, 0, 0, 0.05);
}

.text-neumorph {
	text-shadow: 10px 10px 25px rgba(255, 255, 255, 0.05), -15px -15px 30px rgba(0, 0, 0, 0.05),
		5px 5px 10px rgba(255, 255, 255, 0.05), -5px -5px 10px rgba(0, 0, 0, 0.05);
	transition: text-shadow 0.5s ease-in-out;
}

.text-neumorph:hover {
	text-shadow: -10px -10px 25px rgba(255, 255, 255, 0.05), 15px 15px 30px rgba(0, 0, 0, 0.05),
		-5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/*

	DASHBOARD

*/

.dashboardGrid {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 100%;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.dynamic {
	overflow-y: scroll;
}

.dynamic h1 {
	text-decoration: underline var(--primary) 5px;
}

.sidebar {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.sidebarMenu {
	width: 100%;
}

.sidebarImg {
	width: 100px;
	height: 100px;
	clip-path: circle(50px at center) !important;
}
.sidebarImg img {
	width: 100px;
	height: 100px;
}

.sidebarMenuItem.active {
	background: rgba(0, 0, 0, 0.1);
}

.overview-circles {
	width: 20vw;
	height: 20vw;
	border-width: 1vw !important;
	font-weight: 1000 !important;
	font-size: 2vw;
	text-align: center;
}

.sidebarFooter a:hover {
	text-decoration: none !important;
}

#dashboard-settings,
#dashboard-logout {
	transition: all 0.3s ease;
}

#dashboard-settings:hover {
	transform: rotate(180deg);
}

#dashboard-logout:hover {
	transform: translateX(5px);
}

.livePreview {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	border: none;
	outline: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.notification-badge::before {
	content: "ï„‘";
	z-index: 10;
	margin-top: -8px;
	margin-left: -5px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	font-size: 12px;
	text-align: center;
	color: var(--danger);
}

@media only screen and (max-width: 768px) {
	.bigIcon {
		font-size: 50vw;
	}
}
