/* CSS DOCUMENT */

* {
	margin: 0px;
	padding: 0px;
}

/*

		Homepage


*/

.container-fullwidth {
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
}

:root {
	--bg: #fefefe;
	--accent: #519e8a;
	font-family: Montserrat, Arial, Helvetica, sans-serif !important;
}

.homepageFullpage {
	margin: 0px;
	min-height: 100vh;
}

.container-fullwidth .row {
	scroll-margin: 20px;
	scroll-snap-align: start;
}

.bigIcon {
	font-size: 25vw;
}

h1 {
	font-weight: 1000;
}

.form-loader {
	text-align: center;
	display: none;
}

.form-loader i {
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#errorTitle {
	color: red;
	font-family: Montserrat;
	font-weight: bold;
}
#errorBlock {
	padding-top: 15%;
	height: 100%;
}

/* Required to make pricing/testimonial modal non-grey */
.modal-backdrop {
	z-index: 1020 !important;
}

.land-splash {
	background-image: url("../img/bg-glyph.png");
	background-size: 300px;
	background-repeat: repeat;
	background-position-x: -50px;
}

.text-neumorph-strong {
	text-shadow: -15px -15px 30px rgba(255, 255, 255, 0.4), 15px 15px 30px rgba(0, 0, 0, 0.05),
		-5px -5px 10px rgba(255, 255, 255, 0.6), 5px 5px 10px rgba(0, 0, 0, 0.05);
	transition: text-shadow 0.5s ease-in-out;
}

.text-neumorph-strong:hover {
	text-shadow: 15px 15px 30px rgba(255, 255, 255, 0.4), -15px -15px 30px rgba(0, 0, 0, 0.05),
		5px 5px 10px rgba(255, 255, 255, 0.6), -5px -5px 10px rgba(0, 0, 0, 0.05);
}

.text-neumorph {
	text-shadow: 10px 10px 25px rgba(255, 255, 255, 0.05), -15px -15px 30px rgba(0, 0, 0, 0.05),
		5px 5px 10px rgba(255, 255, 255, 0.05), -5px -5px 10px rgba(0, 0, 0, 0.05);
	transition: text-shadow 0.5s ease-in-out;
}

.text-neumorph:hover {
	text-shadow: -10px -10px 25px rgba(255, 255, 255, 0.05), 15px 15px 30px rgba(0, 0, 0, 0.05),
		-5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/*

	DASHBOARD

*/

.dashboardGrid {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 100%;
	height: 100vh;
	width: 100vw;
	position: fixed;
	grid-template-areas: "side dyna";
}

.dynamic {
	overflow-y: scroll;
	grid-area: dyna;
}

.dynamic h1 {
	text-decoration: underline var(--primary) 5px;
}

.sidebar {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	grid-area: side;
}

.dashboardHeader {
	display: none;
}

.sidebarMenu {
	width: 100%;
}

.sidebarImg {
	width: 100px;
	height: 100px;
	clip-path: circle(50px at center) !important;
}

.sidebarImg img {
	width: 100px;
	height: 100px;
}

.overlay {
	width: 100px;
	height: 50px;
	position: absolute;
	text-align: center;
	margin-top: 50px;
	opacity: 0;
	transition: 0.5s ease;
	color: white !important;
	background-color: gray;
	font-family: Montserrat, Arial, Helvetica, sans-serif !important;
	font-size: 14px;
	font-weight: bold;
}
.overlay:hover {
	opacity: 1;
	transition: 0.5s ease;
}

.sidebarMenuItem a {
	transition: all 0.4s ease;
	outline: none;
}

.sidebarMenuItem a:hover {
	text-decoration: none;
	box-shadow: 0px 3px 0px 0px var(--primary);
}

.sidebarMenuItem.active {
	background: rgba(0, 0, 0, 0.2);
}

.overview-circles {
	width: 15vw;
	height: 15vw;
	border-width: 1vw !important;
	font-weight: 1000 !important;
	font-size: 1.5vw;
	text-align: center;
}

.sidebarFooter a:hover {
	text-decoration: none !important;
}

#dashboard-settings,
#dashboard-logout {
	transition: all 0.3s ease;
}

#dashboard-settings:hover {
	transform: rotate(180deg);
}

#dashboard-logout:hover {
	transform: translateX(5px);
}

.livePreview {
	min-height: 99vh;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.notification-badge::before {
	content: "";
	z-index: 10;
	margin-top: -8px;
	margin-left: -5px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	font-size: 12px;
	text-align: center;
	color: var(--danger);
}

@media only screen and (max-width: 768px) {
	.bigIcon {
		font-size: 50vw;
	}

	.dashboardGrid {
		grid-template-columns: 100%;
		grid-template-rows: 50px 100%;
		grid-template-areas:
			"head"
			"dyna";
	}

	.dashboardHeader {
		display: flex;
		align-items: center;
		justify-content: end;
		grid-area: head;
	}

	.sidebar {
		position: fixed;
		width: 200px;
		transition: transform 0.5s ease;
		z-index: 20;
	}

	.sidebarOpen {
		transform: translateX(0px) !important;
	}

	.sidebarClosed {
		transform: translateX(-200px);
	}

	.livePreview {
		display: none;
	}
}
/*
TESTIMONIAL
*/

.hover:hover {
	opacity: 0.5;
	transition: 0s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
PRODUCT DETAILS
*/
.corner {
	height: 10vh;
	width: 50%;
	background-color: #43ba9e;
	-webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
	clip-path: polygon(100% 0, 0 0, 100% 100%);
}
#imgDetail {
	width: 100%;
	height: 50vh;
	object-fit: cover;
}
