// YOU SHOULDN'T HAVE TO TOUCH THIS UNLESS YOU'RE FAMILIAR WITH SASS
/*
	Color ideas
	43ba9e
	1a535c
	f7fff7
	ff6b6b
	ffe66d
*/
$theme-colors: (
	"primary": #43ba9e,
	"secondary": #ecf8f5,
	"danger": #ff3838,
	"success": #43ba8a
);

$font-family-sans-serif: Montserrat, Arial, Helvetica, sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";
