<div class="text-center">
    <h1 class="float-up my-3">All Done!</h1>
    <p class="my-3 float-up">
        If you ever need to run the wizard again, 
        <br> 
        find it under the <b>settings</b> page in the dashboard.
    </p>
    <a href="/dashboard" class="prevent">
        <button class="btn float-up btn-outline-primary rounded-pill">Finish</button>
    </a>
</div>