<div>
    <h1 class="my-3 float-up">Step one.</h1>
    <p class="mb-3 float-up">Enter your business name. Not sure yet? Don't worry, you can change it later.</p>
    <div>
        <input type="text" class="form-control w-100 rounded-pill float-up s-1-in" placeholder="Your business name">
    </div>
    <button data-href="/dashboard/wizard/two"
        class="btn btn-outline-primary float-up rounded-pill float-right my-3 s-1-done">Next</button>



</div>