<div>
	<h1 class="float-up my-3">Almost done,</h1>
	<div class="text-muted">
		<p class="float-up my-0">If you have a minute, let's finish setting up your profile.</p>
		<p class="float-up my-0">In a rush? You can skip for now and continue later. </p>
	</div>
	<a href="/dashboard/wizard/one">
		<button class="btn btn-outline-primary float-up rounded-pill float-right my-3">START</button>
	</a>
	

</div>