<div class="text-center">
    <h1 class="float-up my-3">Step three.</h1>
    <p class="float-up">Have a logo ready? Upload it now!</p>

    <div class="float-up my-5">
        <form class="wizard-avatar"enctype="multipart/form-data">
            <input accept=".jpg, .jpeg, .png, .gif, .bmp" id="wizard-file" name="avatarImg" type="file">
            <input value="Upload" type="submit" class="btn float-up btn-outline-primary rounded-pill">
        </form>
    </div>

    <button class="btn float-up btn-outline-danger rounded-pill">Skip</button>
</div>