<div class="text-center">
    <h1 class="float-up my-5">All Done!</h1>
    <a href="/dashboard" class="prevent">
        <button class="btn float-up btn-outline-primary rounded-pill">Finish</button>
    </a>
</div>