<div class="container mt-3">
	<div class="row text-center">
		<div class="col-12">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-2 d-flex justify-content-center align-items-center">
			<p class="text-center">
                {{siteData.aboutBlurb}}
            </p>
		</div>
	</div>
</div>