<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 site-welcome">
			<span>
				Welcome to {{siteData.businessName}}
			</span>
		</div>

		{{#isTruthy siteData.customization.showAbout}}
		<div class="col-md-12 site-about">
			<h2>About Us</h2>
			<p>{{siteData.aboutBlurb}}</p>
		</div>
		{{/isTruthy}}
	</div>
</div>
