<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh; width: 100vw">
        <h1>Thank you for your order!</h1>
        <a href="/sites/{{siteData._id}}">Return Home</a>
    </div>
</body>
</html>