@import "themes/default.scss";

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");
@mixin useThemeDefaults($bool) {
	@if $bool {
		$font-family-sans-serif: "Josefin Sans";
	}
}

body {
	grid-template:
		"nav bod bod" auto
		"nav bod bod" auto
		"nav fot fot" 200px;
	grid-template-columns: 150px;
}

.site-navbar {
	height: 100vh;
	width: 150px;
	position: fixed;
	flex-direction: column;
}

.site-navlinks {
	display: flex;
	flex-direction: column;
}

.site-navbar-right {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.site-navbar-logo {
	margin-top: 20px;
}
