$body-bg: $dark;

$body-color: #ffffff;

.card {
	background: rgba($color: #ffffff, $alpha: 0.05) !important;
}
.site-navbar {
	@extend .bg-dark;
}

.site-navlinks a:hover,
.site-navlinks a {
	color: $body-color;
}

.text-white {
	color: #ffffff !important;
}

.site-cart-button {
	@extend .text-light;
}
